<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>babyURL Account Registration</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
</head>
<body>

<form action="" method="post">
  <div class="container">
    <h1>Register</h1>
    <p>Complete this form to create a babyURL account.</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Your Email" name="username" id="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="psw-repeat"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Your Password" name="psw-repeat" id="psw-repeat" required>
    <hr>
    <p >By creating an account you agree to our <a href="tbd">Terms & Conditions</a>.</p>

    {% if message %}
    <p style="color:red">{{message}}</p>
    {% endif %}

    <button type="submit" class="registerbtn" value="register">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="#">Your Account</a></p>
  
    <p id="confirm"></p>

    
  </div>
</form>

</body>
</html>
