<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome, {{ username }}!</h1>

<p>Thank you for using babyURL. Enter the url that you would like to convert below, then get your babyURL. </p>

<form action="" method="post">
    <label for="longurl"><b>Your URL:</b></label>
    <input type="text" placeholder="Enter Your Long URL" name="longurl" id="longurl" required>
    <button type="submit" value="Submit">Get Your babyURL</button>

  </form>
<br>
<br>
{% if shortURL %}
<p>Here is your babyURL. Hope this was a great experience! Use us again! </p><br>
<p>http://www.babyURL.com/{{ shortURL }}</p>
{% endif %}
<br><br>

<p>At babyURL we love making things better. Have a problem you think technology can fix? Let us know about it.<a href="#">Contact Us</a> </p>
  
<a href='/logout'>Log out</a>

</body>
</html>